/*? Tailwind css configuration */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*? Custom font configuration */
@font-face {
  font-family: "acuminPro";
  src: url("./assets/fonts/made_carving_soft/MADECarvingSoftPERSONALUSE-Medium.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}
.customFont {
  font-family: "acuminPro";
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

*::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}